<!--<div class="card border-dark text-center mb-3 mt-5" >
  <img src="/assets/topbanner.png" alt=""class="img-fluid">
  <div class="card-header">Добро пожаловать в магазин!</div>
  <div class="card-body text-dark">

    <h5 class="card-title">Потрясающее предложение!</h5>
    <p class="card-text">Только у нас вы найдете широкий асортимент абсолютно не нужных, но таких желанных товаров</p>
  </div>
</div>-->
<div class="card bg-dark text-white text-center mb-3 pt-2">
  <img src="/assets/topbanner.png" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h1 class="card-title">Добро пожаловать в магазин!</h1>
    <p class="card-text fw-bold fs-4 text">Потрясающее предложение!</p>
    <p class="card-text">Только у нас вы найдете широкий асортимент абсолютно вам не нужных, но таких желанных товаров.</p>
  </div>
</div>
<div  class=" row d-flex justify-content-center align-content-center " >
  <a routerLink="/products" class="btn btn-outline-dark col-3">В каталог</a>
</div>
